/* bg-container-modal{
    border-radius: 50px !important;
} */
.bg-modal{
    background-color: #5F6CDE;
    /* border-radius: 20px; */
}

.text-modal{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #C4C4C4;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}